.header {
  a.get-touch {
    display: block;
    text-decoration: none;
    background-color: $orange;
    color: #ffffff !important;
    padding: 10px 20px;
    border: transparent;
    border-radius: 20px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 20px 0;
  }
}
