.testimonial-wrap {
  background: #f5f5f5;
  h1 {
    font-weight: $normal;
    text-align: center;
    @include for-phone-only {
      font-size: 1.5em;
    }
  }
  .testimonials {
    .content {
      background: $light;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
      border-radius: 30px;
      padding: 1rem;
    }
    .talktext {
       padding: 1em;
      text-align: left;
      line-height: 1.5em;
      P {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
      }
    }
    .talk-bubble {
      display: inline-block;
      position: relative;
      height: auto;
     background-color: $light;
    }
    .author {
      display: flex;
      align-items: center;
      padding-top: 1rem;
      @include for-phone-only {
        padding-top: 0;
      }
      .image {
        margin-right: 2rem;
        width: 10%;
        @include for-phone-only {
          width: 15%;
          margin-right: 1rem;
        }
        img {
          border-radius: 100%;
          max-width: 100%;
        }
      }
      p.credit {
        text-transform: uppercase;
        span {
          display: block;
          text-transform: none;
        }
      }
    }
    .tri-right.btm-left-in:after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 38px;
      right: auto;
      top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: $light transparent transparent $light;
    }
  }
}

