
<section class="wrapper">
	<div class="inner">
		<div class="row">
		    <div class="about-text col-6">
		        <h1>Tempor sit dolor labore clita voluptua</h1>
		        <p>Tempor sit dolor labore clita voluptua justo sadipscing eirmod dolor dolor, lorem dolor sit nonumy sed eos, nonumy dolore et no stet eirmod tempor ipsum invidunt clita. Dolores dolores ipsum sed no lorem duo elitr ipsum, aliquyam consetetur dolore duo at dolor et magna ipsum, lorem ea sea aliquyam amet.</p>
		    </div>
		    <div class="about-img col-6">
		        <img src="../img/about.jpg">
		    </div>
		</div>
	</div>
</section>