<section class="banner">
  <h1>Heading</h1>
  <div class="service-box-wrap">
    <div class="service-box">
      <i class="fas fa-users"></i>
      <p>Service 1</p>
    </div>
    <div class="service-box">
      <i class="fas fa-users-cog"></i>
      <p>Service 2</p>
    </div>
    <div class="service-box">
      <i class="fas fa-server"></i>
      <p>Service 3</p>
    </div>
  </div>
</section>