<footer class="footer">
	<div class="inner">
		<div class="col-6">
			<div class="copyright">
				&copy; Company. All rights reserved.
			</div>
		</div>
		<div class="col-6">
			<ul class="social-icons">
				<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fas fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
</footer>




