	
<section class="wrapper testimonial-wrap">
	<div class="inner">
			<h1>Faucibus consequat lorem</h1>
		<div class="testimonials row">
				
				<div class="col-4">
					<div class="content talk-bubble tri-right btm-left-in">
						<div class="talktext">
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</div>
					</div>
					<div class="author">
						<div class="image">
							<img src="../img/pic01.jpg" alt="" />
						</div>
						<p class="credit"><strong>Jane Doe</strong> <span>CEO-ABC Inc.</span></p>
					</div>
				</div>

				<div class="col-4">
					<div class="content talk-bubble tri-right btm-left-in">
						<div class="talktext">
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</div>
					</div>
					<div class="author">
						<div class="image">
							<img src="../img/pic03.jpg" alt="" />
						</div>
						<p class="credit"><strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
					</div>
				</div>

				<div class="col-4">
					<div class="content talk-bubble tri-right btm-left-in">
						<div class="talktext">
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
						</div>
					</div>
					<div class="author">
						<div class="image">
							<img src="../img/pic02.jpg" alt="" />
						</div>
						<p class="credit"><strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
					</div>
				</div>
		</div>
	</div>
</section>
