<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axelerant: Interview Frontend</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/d131435d2f.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
	{% include "_menu.html.twig" %}
	{% include "_banner.html.twig" %}
	{% include "_about.html.twig" %}
	{% include "_testimonial.html.twig" %}
	{% include "_contactform.html.twig" %}
	{% include "_footer.html.twig" %}
	<script src="main.js"></script>
</body>
